.lessons-table {
  min-height: 360px;
  margin-top: 10px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;

  tr:hover {
    background: whitesmoke;
    cursor: pointer;
  }
  tr:nth-child(even){
    background-color:#9fa8da;
  }

}

.mat-column-seqNo {
  width: 32px;
  //border-right: 1px solid black;
  padding-right: 24px;
  text-align: center;
}

.mat-column-description {
  padding-left: 20px;
  text-align: left;
}

.mat-column-duration {
  font-style: italic;
}

.course {
  text-align: center;
  width: 390px;
  margin: 0 auto;
}
